<h1>Type in a word to see its Scrabble score!</h1>
<form action='/results'>
  <div class="form-group">
    <label for="word">Enter a word: </label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Calculate Score</button>
</form>
