<h1>Scrabble Score Results</h1><br />
<img src="img/scrabble_img.jpeg" alt="a scrabble board that says 'let's play'"class="align-right"/>
<p>Your initial word: <em><%= @word %></em> </p><br />
<p>Scrabble score: <em><%= @score %></em> </p><br />
<a href="/form">
  <button type="submit" class="btn">Play again</button>
</a>
